 <!-- Skills section is imported into the "About" module -->
 <!-- ======= Skills Section ======= -->
 <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content" data-aos="fade-up">
          <div *ngFor="let skill of skills" class="progress col-12 col-md-6">
            <span class="skill">{{skill.skill}} <i class="val">{{skill.percentage}}%</i></span>
            <div class="progress-bar-wrap">
              <div [style.width.%]="skill.percentage" class="progress-bar" role="progressbar" [attr.aria-valuenow]="skill.percentage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- End Skills Section -->