<!-- ======= About Section ======= -->
<main id="main">
    <section id="about" class="about about-bg-color">
      <div class="container">
  
        <div class="section-title">
          <h2>About</h2>
          <p>Here are some facts about myself.</p>
        </div>
  
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Full Stack Developer</h3>
            <p class="fst-italic lh-lg">
              I have learnt how to design the UI of a website to enhance the user experience. Besides, I also learn PHP and MySQL which deal with the server site for CRUD operations. 
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>10 April 2001</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{currentAge}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+(60)-164487293</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Perak, Malaysia</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Software Enginner</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>mouyuancheng2@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p class="lh-lg">
              Currently, I'm studying Bachelor of Software Engineering in Universiti Malaya. I'm enthusiastic to learn new knowledge as I know that keep learning and improving myself
              is the only way to become better and more professional as a programmer. I like sports such as hiking, jogging, playing badminton & volleyball, and swimming very much. Better health, better soul!
            </p>
            <p class="lh-lg">
              Besides, I'm keen on learning and understanding the blockchain technology as I realise that the power of decentralisation is unveiling now.
              In Web 3.0, decentralisation will be the killer feature. No more users' data exploitation, but user privacy and security preserved.
            </p>
          </div>
        </div>
  
      </div>
    </section>
    <!-- End About Section -->
    <app-fact></app-fact>
   <app-skill></app-skill>
  </main>