<main id="main">
    <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
   <div class="container">
 
     <div class="section-title">
       <h2>Resume</h2>
       <p>Here is my resume.</p>
     </div>
 
     <div class="row">
       <div class="col-lg-6" data-aos="fade-up">
         <h3 class="resume-title">Summary</h3>
         <div class="resume-item pb-0">
           <h4>Cheng Mou Yuan</h4>
           <p><em>I had graduated from Johor Matriculation College in Science stream Module 1. Currently, I am studying Bachelor of
            Computer Science (Software Engineering) in Universiti Malaya . I would like to seek an opportunity of internship in the
            computer science industry where I hope to grow myself for future development</em></p>
           <ul>
             <li>Ayer Tawar, Perak</li>
             <li>(+60)-16448-7293</li>
             <li>mouyuancheng2@gmail.com</li>
           </ul>
         </div>
         <!-- Education section -->
         <h3 class="resume-title">Education</h3>
         <div class="resume-item">
           <h4>Universiti Malaya</h4>
           <h5>October 2020 - March 2024</h5>
           <p>Current CGPA: 3.98</p>
         </div>
         <div class="resume-item">
          <h4>Johor Matriculation College</h4>
          <h5>May 2019 - March 2020</h5>
          <p>CGPA: 4.0/4.0</p>
        </div>
        <div class="resume-item">
          <h4>SMK Ayer Tawar</h4>
          <h5>2014 - 2018</h5>
          <p>SPM: 10A (5A+ 4A 1A-)</p>
        </div>
        <!-- Curicular section -->
        <h3 class="resume-title">Extra-Curricular Activities</h3>
         <div class="resume-item">
          <ul>
            <li>5th rank in Programming League (Closed Category) of Universiti Malaya (2021)</li>
            <li>Volleyball Player in Karnival Kokorikulum Matrikulasi (KAKOM) (2019)</li>
            <li>Member of Pembimbing Rakan Dinamik (PRD) Johor Matriculation College (2019)</li>
            <li>Secretary of Interact Club (2017 - 2018)</li>
            <li>President of Kadet Remaja Sekolah (2017 - 2018)</li>
            <li>Prefect (2014 - 2018)</li>
          </ul>
         </div>
          <!-- Working Experiences section -->
          <h3 class="resume-title">Working Experiences</h3>
          <div class="resume-item">
            <h4>Promoter</h4>
            <h5>February 2019 - March 2019</h5>
            <p><em>Watali Motor Ayer Tawar</em></p>
            <ul>
              <li>Selling the accessories of different types of motorcycle</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Full Stack Developer</h4>
            <h5>17 July 2022 - Present</h5>
            <p><em>Fusionex</em></p>
            <ul>
              <li>Design the front-end of different web pages using Angular and different modules</li>
              <li>Check and amend the stored procedure of database</li>
            </ul>
          </div>
          <!-- References section -->
         <h3 class="resume-title">References</h3>
         <div class="resume-item">
           <h4>Dr. Unaizah Hanum Obaidellah(+60122340303)</h4>
           <p>Senior Lecturer</p>
           <p>Department of Artificial Intelligence, Faculty of Computer Science & Information Technology</p>
         </div>
       </div>
       <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
         <!-- Skills section -->
         <h3 class="resume-title">Skills</h3>
         <div class="resume-item">
           <h4>Soft Skill</h4>
           <ul>
             <li>Leadership skill</li>
             <li>Communicating skill</li>
             <li>Time management</li>
             <li>Able to work under pressure</li>
           </ul>
         </div>
         <div class="resume-item">
          <h4>Technical Skill</h4>
          <ul>
            <li>Languages: Java, HTML5 + CSS + JavaScript, TypeScript, Angular, PHP, MySQL</li>
            <li>Technologies: Android Studio, Github, Jianying Editing.</li>
          </ul>
          </div>
          <div class="resume-item">
            <h4>Language Skill</h4>
            <ul>
              <li>Native Chinese</li>
              <li>Proficient English</li>
              <li>Proficient Malay</li>
              <li>Basic Japanese</li>
            </ul>
        </div>
        <!-- Project sections -->
        <h3 class="resume-title">Project Experiences</h3>
         <div class="resume-item">
           <h4>Household Green Technologies Website</h4>
           <p>Project Manager</p>
           <ul>
             <li><a href="https://householdgreentech.wixsite.com/my-site" target="_blank">https://householdgreentech.wixsite.com/my-site</a></li>
           </ul>
         </div>
         <div class="resume-item">
          <h4>Citra SULAM Project</h4>
          <p>Project Manager</p>
          <ul>
            <li>Collaborate with Befrienders Penang to hold a talk related to academic stress for university students.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>The Sociopath (Project of Data Structure subject)</h4>
          <p>Member</p>
          <ul>
            <li>Debug and design the project together</li>
            <li><a href="https://github.com/mouyuan123/sociopath" target="_blank">https://github.com/mouyuan123/sociopath</a></li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Goal Tracker</h4>
          <p>Developer</p>
          <ul>
            <li>HTML + CSS + Javascript + PHP + MySQL</li>
            <li>A project completed during Year 2 Sem 2 in Web Programming. It is an reminder-based application to help the users to set &amp; achieve goals. There's also mentor-mentee relationship within the application</li>
            <li><a href="https://github.com/houren928/gtracker-final" target="_blank">https://github.com/houren928/gtracker-final</a></li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Branch Expansion Recommendation System</h4>
          <p>Team Leader</p>
          <ul>
            <li>Python + Plotly Dash + Plotly Graph Object + Beautifulsoup + Google Map Distance API</li>
            <li>This is a system designed using Python only by utilizing different number of tools and algorithm. We do not apply GUI due to time limitation</li>
            <li><a href="https://github.com/mouyuan123/algoProject" target="_blank">https://github.com/mouyuan123/algoProject</a></li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Weather Forecasting</h4>
          <p>Developer</p>
          <ul>
            <li>Angular + Firebase + OpenWeatherMap API Free Subscription</li>
            <li>A weather application that displays the current weather and the 5 days forecast of all capitals in the world. It's totally done by myself.</li>
            <li><a href="https://mouyuan123.github.io/weather-application/" target="_blank">https://mouyuan123.github.io/weather-application/</a></li>
            <li><a href="https://github.com/mouyuan123/weather-application" target="_blank">https://github.com/mouyuan123/weather-application</a></li>
          </ul>
        </div>
       </div>
     </div>
 
   </div>
 </section><!-- End Resume Section -->
 </main>