 <!-- ======= Header ======= -->
 <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="mx-auto d-block img-thumbnail rounded-circle">
        <h2 class="text-center">Cheng Mou Yuan</h2>
        <div class="social-links mt-3 text-center">
          <!-- Link to my social media profiles -->
          <a href="https://join.skype.com/invite/uv9JHVDZbk17" target="_blank" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/cheng-yuan-a0a6a2208/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/mouyuan123" target="_blank" class="twitter"><i class="bx bxl-github"></i></a>
        </div>
      </div>
        <app-sidebar></app-sidebar>
    </div>
  </header>