.form-container{
    background-color: #C4D7E0;
    position: fixed;
    top: 5%;
    left: 35%;
    right: 20%;
    height: 580px;
}

.title-background{
    background-color: #E7F6F2;
}

.delete-img-input .add-img-input{
    cursor: pointer;
}