<!-- This form is used to add project to the JSON-SERVER -->
<div class="form-container shadow-lg rounded border border-primary border-2 overflow-auto" data-aos="fade-down">
    <div class="d-flex justify-content-center title-background pt-2"><h2>Add Project</h2></div>
    <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit(addProjectForm.value)" class="row mt-3 p-2 overflow-auto">
        <div class="row mb-2">
            <label for="title" class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-10">
              <input  formControlName="title" name="title" type="email" class="form-control" placeholder="Project title here" aria-label="project title" required>
              <span *ngIf="title?.invalid && (title?.dirty || title?.touched)" style="color: red; font-size:15px">*Project title is required</span>
            </div>
          </div>
        <div class="row mb-2">
          <label for="category" class="col-sm-2 col-form-label">Category:</label>
          <div class="col-sm-10">
              <select formControlName="category" name="category" class="form-select" required>
                  <option value="Project">Project</option>
                  <option value="App Development">App Development</option>
                  <option value="Web Development">Web Development</option>
              </select>
                <span *ngIf="category?.untouched" style="color: red; font-size:15px">Please select the project category here</span>
          </div>
        </div>
        <div class="row mb-2">
          <label for="timeline" class="col-sm-2 col-form-label">Timeline:</label>
          <div class="col-sm-10">
              <input formControlName="timeline" name="timeline" type="text" class="form-control" placeholder="E.g., Semester 1 Year 2" aria-label="When I do the project" required>
              <span *ngIf="timeline?.invalid && (timeline?.dirty || timeline?.touched)" style="color: red; font-size:15px">*Project timeline is required</span>
          </div>
        </div>
        <div class="row mb-2">
          <label for="role" class="col-sm-2 col-form-label">Role:</label>
          <div class="col-sm-10">
              <input formControlName="role" name="role" type="text" class="form-control" placeholder="Role in the project" aria-label="Project Role" required>
              <span *ngIf="role?.invalid && (role?.dirty || role?.touched)" style="color: red; font-size:15px">*Project role is required
              </span>
          </div>
        </div>
        <div class="row mb-2">
          <label for="description" class="col-sm-2 col-form-label">Description:</label>
          <div class="col-sm-10">
              <textarea formControlName="description" name="description" class="form-control" placeholder="Describe my own project" aria-label="project description" required></textarea>
              <span *ngIf="description?.invalid && (description?.dirty || description?.touched)" style="color: red; font-size:15px">*Project description is required</span>
          </div>
          </div>
          <div class="row mb-2">
            <label for="projectUrl" class="col-sm-2 col-form-label">Project Url:</label>
            <div class="col-sm-10">
                <input formControlName="url" name="projectUrl" type="text" class="form-control" placeholder="Project url to view the project" aria-label="project url" required>
                <span *ngIf="url?.invalid && (url?.dirty || url?.touched)" style="color: red; font-size:15px">
                  <span *ngIf="url?.errors?.['required']">*Project url is required</span>
                  <span *ngIf="url?.errors?.['pattern']">*Please provide a proper url</span>
                </span>
            </div>
          </div>
          <div formArrayName="imagesUrl" class="row mb-2">
            <label for="images" class="col-sm-2 col-form-label">Images&nbsp;<i class="bi bi-images"></i>:</label>
            <div class="col-sm-10">
              <!-- I can also use "multiple" in <input type="file"> if I want to select multiple files at one time -->
              <!-- But since I am learning, I would like to use the form array in Reactive Form to select the image one by one -->
              <div *ngFor="let imageHolder of projectImg.controls; let i=index" class="d-flex justify-content-between align-items-center">
                <input  name="images" type="file" accept="image/jpeg, image/jpg" class="form-control mb-1" aria-label="project images" (change)="onFileChange($event,i)">
                &nbsp;&nbsp;
                <i (click)="deleteImage(i)" class="bi bi-x-lg delete-img-input"></i>
              </div>
              <span *ngIf="!projectImg.controls.length" style="color: red; font-size:15px">*Please select at least one project image</span> 
              <div (click)="addMoreImages()" class="mt-1 add-img-input"><i class="bi bi-plus-circle"></i>&nbsp;Add more images</div>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Add</button>
            <button (click)="close()" type="submit" class="btn btn-secondary" id="liveToastBtn">Close</button>
          </div>
    </form>
</div>