<main id="main">
    <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
  
      <div class="section-title">
        <h2>Services</h2>
        <p>The services that I am able to provide are the skills that I am familiar with.</p>
      </div>
  
      <div class="row">
        <div *ngFor="let service of services" class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-lightbulb-fill"></i></div>
          <h4 class="title">{{service.title}}</h4>
          <p class="description">{{service.description}}</p>
        </div>
      </div>
  
    </div>
  </section><!-- End Services Section -->
  </main>